# --- Archivos de entorno ---
.env
ssl/
.htpasswd

# --- Terraform ---
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*
terraform/terraform.tfvars
terraform/crash.log

# --- Jenkins ---
jenkins_home/
*.jenkinsfile_backup

# --- Docker ---
docker-compose.override.yml
**/docker-compose.override.yml
**/docker-compose.override.yaml
**/docker-compose.override.yml.enc
**/docker-compose.override.yaml.enc
*.log
*.tmp

# --- Node / otros ---
node_modules/
dist/
build/
npm-debug.log*
yarn-error.log*

# --- IDEs / OS ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
